@model SportShop.DLL.DTO.ItemDTO
@{
    ViewBag.Title = "Details";
}

<h2>@Model.ItemName</h2>

<div id="item-details">
    <p>
        <em>Category:</em>
        @Model.ItemCategory
    </p>
    <p>
        <em>Price:</em>
        @String.Format("{0:F}", Model.Price)
    </p>
    <p class="button1">
        @Html.ActionLink("Add to cart", "AddToCart",
        "ShoppingCart", new { id = Model.ItemId }, "")
    </p>
    <div class="fb-comments" data-width="230" data-numposts="5"></div>
</div>

