@{
    ViewBag.Title = "Home Page";
}

@section Header
    {
    <header class="masthead text-white text-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="intro">
                        <h1 class="mb-5">Here you can</h1>
                        <h1 class="typing mb-5">hi</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

}


@Html.Action("Index", "Store")
@*<div style="height:100px;"></div>*@


@section Main
    {

    
}

@section typing_footer
{
    <section class="call-to-action text-white text-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h2 class="mb-4">Sport Shop.</h2>

                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                    <form>
                        <div class="form-row">
                            <div class="col-12 col-md-9 mb-2 mb-md-0">


                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
}